In [1]:
from fuzzywuzzy import fuzz
import pandas as pd

C:\Users\naman\Anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
original = pd.read_excel('FuzzyWuzzyTest.xlsx')[['KeySource', 'ValueSource']][:4]
original['FuzzyScore'] = [None] * len(original)
original

                                        KeySource  ValueSource FuzzyScore
0  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY    167411.18       None
1                 CAPTAIN III (POLICE DEPARTMENT)    155966.02       None
2                 CAPTAIN III (POLICE DEPARTMENT)    212739.13       None
3            WIRE ROPE CABLE MAINTENANCE MECHANIC     77916.00       None

In [3]:
destination = pd.read_excel('FuzzyWuzzyTest.xlsx')[['KeyDestination', 'ValueDestination']]
destination

                                   KeyDestination  ValueDestination
0  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY               NaN
1                 CAPTAIN III (POLICE DEPARTMENT)               NaN
2                 CAPTAIN III (POLICE DEPARTMENT)               NaN
3            WIRE ROPE CABLE MAINTENANCE MECHANIC               NaN
4    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)               NaN
5                       ASSISTANT DEPUTY CHIEF II               NaN
6              BATTALION CHIEF, (FIRE DEPARTMENT)               NaN
7                  DEPUTY DIRECTOR OF INVESTMENTS               NaN
8              BATTALION CHIEF, (FIRE DEPARTMENT)               NaN

In [4]:
for one_index, one in enumerate(destination.itertuples()):
    result = 0, None
    for two_index, two in enumerate(original.itertuples()):
        if result is None:
            result = 0, two.ValueSource
            destination['ValueDestination'][one_index] = two.ValueSource
            
        print(one.KeyDestination, two.KeySource, fuzz.token_sort_ratio(one.KeyDestination, f"| {two.KeySource}"))
        score = fuzz.token_sort_ratio(one.KeyDestination, two.KeySource)
        original['FuzzyScore'][two_index] = score
        
        if score > result[0]:
            result = score, two.ValueSource
        
    destination['ValueDestination'] = result[1]
        
    print("--")

#     destination['ValueDestination'][one_index] = 
#     original.sort_values(by='FuzzyScore')

GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY 100
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY CAPTAIN III (POLICE DEPARTMENT) 32
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY CAPTAIN III (POLICE DEPARTMENT) 32
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY WIRE ROPE CABLE MAINTENANCE MECHANIC 39
--
CAPTAIN III (POLICE DEPARTMENT) GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY 32
CAPTAIN III (POLICE DEPARTMENT) CAPTAIN III (POLICE DEPARTMENT) 100
CAPTAIN III (POLICE DEPARTMENT) CAPTAIN III (POLICE DEPARTMENT) 100
CAPTAIN III (POLICE DEPARTMENT) WIRE ROPE CABLE MAINTENANCE MECHANIC 37
--
CAPTAIN III (POLICE DEPARTMENT) GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY 32
CAPTAIN III (POLICE DEPARTMENT) CAPTAIN III (POLICE DEPARTMENT) 100
CAPTAIN III (POLICE DEPARTMENT) CAPTAIN III (POLICE DEPARTMENT) 100
CAPTAIN III (POLICE DEPARTMENT) WIRE ROPE CABLE MAINTENANCE MECHANIC 37
--
WIRE ROPE CABLE MAINTENANCE MECHANIC GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY 39
WIRE ROPE CABLE MAINTENANCE MECHANIC CAPTAIN III (POLICE DEPARTMENT) 31
WIRE ROPE CABLE MAINTENANCE MECHANIC CAPTAIN III (POLICE DEPARTMENT) 31
WIRE ROPE CABLE MAINTENANCE MECHANIC WIRE ROPE CABLE MAINTENANCE MECHANIC 100
--
DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT) GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY 16
DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT) CAPTAIN III (POLICE DEPARTMENT) 42
DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT) CAPTAIN III (POLICE DEPARTMENT) 42
DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT) WIRE ROPE CABLE MAINTENANCE MECHANIC 21
--
ASSISTANT DEPUTY CHIEF II GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY 23
ASSISTANT DEPUTY CHIEF II CAPTAIN III (POLICE DEPARTMENT) 44
ASSISTANT DEPUTY CHIEF II CAPTAIN III (POLICE DEPARTMENT) 44
ASSISTANT DEPUTY CHIEF II WIRE ROPE CABLE MAINTENANCE MECHANIC 39
--
BATTALION CHIEF, (FIRE DEPARTMENT) GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY 21
BATTALION CHIEF, (FIRE DEPARTMENT) CAPTAIN III (POLICE DEPARTMENT) 63
BATTALION CHIEF, (FIRE DEPARTMENT) CAPTAIN III (POLICE DEPARTMENT) 63
BATTALION CHIEF, (FIRE DEPARTMENT) WIRE ROPE CABLE MAINTENANCE MECHANIC 42
--
DEPUTY DIRECTOR OF INVESTMENTS GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY 34
DEPUTY DIRECTOR OF INVESTMENTS CAPTAIN III (POLICE DEPARTMENT) 37
DEPUTY DIRECTOR OF INVESTMENTS CAPTAIN III (POLICE DEPARTMENT) 37
DEPUTY DIRECTOR OF INVESTMENTS WIRE ROPE CABLE MAINTENANCE MECHANIC 18
--
BATTALION CHIEF, (FIRE DEPARTMENT) GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY 21
BATTALION CHIEF, (FIRE DEPARTMENT) CAPTAIN III (POLICE DEPARTMENT) 63
BATTALION CHIEF, (FIRE DEPARTMENT) CAPTAIN III (POLICE DEPARTMENT) 63
BATTALION CHIEF, (FIRE DEPARTMENT) WIRE ROPE CABLE MAINTENANCE MECHANIC 42
--

C:\Users\naman\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [5]:
original

                                        KeySource  ValueSource FuzzyScore
0  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY    167411.18         21
1                 CAPTAIN III (POLICE DEPARTMENT)    155966.02         63
2                 CAPTAIN III (POLICE DEPARTMENT)    212739.13         63
3            WIRE ROPE CABLE MAINTENANCE MECHANIC     77916.00         42

In [6]:
destination

                                   KeyDestination  ValueDestination
0  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY         155966.02
1                 CAPTAIN III (POLICE DEPARTMENT)         155966.02
2                 CAPTAIN III (POLICE DEPARTMENT)         155966.02
3            WIRE ROPE CABLE MAINTENANCE MECHANIC         155966.02
4    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         155966.02
5                       ASSISTANT DEPUTY CHIEF II         155966.02
6              BATTALION CHIEF, (FIRE DEPARTMENT)         155966.02
7                  DEPUTY DIRECTOR OF INVESTMENTS         155966.02
8              BATTALION CHIEF, (FIRE DEPARTMENT)         155966.02